.flipped {
    transform: rotateY(180deg);

}

.card {
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.back {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.front,
.back {
    backface-visibility: hidden;
}
